{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 100vh;
  background-image: url(src/fondololsas.png);
  background-size: cover;
   background-repeat: no-repeat;
}

.container {
  max-width: 340px;
  background-color: #fff;
  padding: 20px;
  border-radius: 17px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h4 {
  text-align: center;
  color: #bb1212;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #b81515;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #ec5e0b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e67e08;
}

#ConteinerCard {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.card {
  width: calc(100%);
  max-width: 210px;
  margin: 20px auto; 
  background-color: #ffffff;
  border: 12px solid #e65d0f;
  border-radius: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto; 
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #e65d0f;
}

.card-body {
  text-align: center;
}